#test-div{
  width: 400px;
  height: 300px;
  background: #aaa;
}
svg{
  width: 100%;
  height: 100%;
}
 svg.circle-indicator circle{
  fill:none;
  stroke-linecap: round;
}
/*
svg.circle-indicator circle[data-el="indicator"]{
  stroke: rgba(255, 0, 0, 1);
   /* display: none;  */
 }
 svg.circle-indicator circle[data-el="range"]{
  stroke: #36f;
  stroke-width:30;
} */
